body{
    background-color: powderblue;
    font-family: sans-serif;
    color: salmon;
}

.mathFunc{
    text-align: center;
    background-color: rgb(230, 230, 230);
    width: 60%;
    padding: 2px;
    margin: 20%;
    border: 2px solid salmon;
    border-radius: 10px;
}

.math input{
    padding: 2.5px;
    margin-bottom: 5px;
    width: 10%;
}

button{
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid salmon;
    border-radius: 5px;
    background-color: salmon;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
}