@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=KoHo&display=swap');

:root{
    --header-font: 'Cedarville Cursive', cursive;
    --body-font: 'KoHo', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

.landing{
    background: url('https://images.unsplash.com/photo-1600430073932-e915854d9d4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') center no-repeat;
    height: 30vh;
    background-size: cover;
    border-bottom: 2px solid rgb(38, 35, 36);
}

.intro {
    text-align: center;
    padding: 2%;
    background-color: rgb(176, 188, 156);
    border-bottom: 2px solid rgb(38, 35, 36);
}

h1{
    font-family: var(--header-font);
    font-size: 6rem;
    color: rgb(238, 237, 240);
    text-shadow: 2px 2px rgb(38, 35, 36);
}